<div class="container p-0">
    <div class="loadingDiv text-center" style="display:none">
        <img src="assets/img/loading.gif">
    </div>
    {{#unless articles}}
        <div style="height:100%; width:100%;" class=" text-center noItemsContainer">
            <div class="row">
                <div class="col-12">
                    <h2 style="color:green" class="align-middler">No news scrapped yet!</h2>
                </div>
                <div class="col-12">
                    <button class="scrapeNewsBtn btn btn-primary">Scrape news now!</button>  
                </div>
            </div>
        </div> 
    {{/unless}}
    {{#each articles}}
        <div class="article">
        <div class="row">
            <div class="col-4 text-center imageContainer p-0">
                <img class="rounded img-fluid py-1" src={{this.thumbnail}}>
            </div>
            <div class="col-6 text-center align-self-center p-1">
                <a href={{this.link}} target="_blank">
                    <p>{{this.title}}</p>
                </a>
            </div>
            <div class="col-2 saveColumn p-0 text-center align-self-center border-left border-darker">
                <button data-id={{this._id}} class="btn btn-dark saveArticleBtn p-2">Save</button>
            </div>
        </div>
    </div>   
    {{/each}}
</div>


    
